@model Jewelry
<div class="container">
    <form method="post">
        <div class="d-flex gap-2 flex-column">
            <div>
                @* <h2>Create Jewelry @Model.ProductionRequest.Jewelries.Count / @Model.ProductionRequest.Quantity</h2> *@
                <hr />
            </div>
            <!-- <div asp-validation-summary="All"></div> -->
            <input asp-for="ProductionRequestId" type="hidden" class="form-control" />
            <div>
                <label asp-for="Name">Type in your Jewelry's name:</label>
                <input asp-for="Name" type="text" class="form-control" />
            </div>
            <div>
                <label asp-for="Description">Description: </label>
                <input asp-for="Description" type="text" class="form-control" />
            </div>
@*             <div class="my-2">
                <select id="customer-name" class="form-control">   
                    <option value="" disabled selected>--Select a customer--</option>
                </select>

            </div> *@
@*             <div>
                <div class="form-floating py-2 col-12">
                    <input type="file" name="files" class="form-control border-0 shadow" multiple />
                    <label class="ms-2">Image</label>
                </div>
            </div> *@
            <br />
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary form-control">
                        Back to Menu
                    </a>
                </div>
            </div>
    </form>
</div>