<form method="post">
<div class="container">
	<div>
		<h2>Delivery & Checking</h2>
		<hr />
	</div>
		<div class="col-md-9 justify-content-center">
			<div class="row">
				@*<div class="col-10">
					<label></label>
				</div>
				*@
			</div>
			<p>We will try to deliver products to you as soon as possible. Please wait and check your email regularly to receive the latest notifications from us.</p>
			<br />
			<br />
			<h3>Delivery Policy</h3>

			<p>
				◊ Due to the characteristics of high-value goods, JPO does not support COD delivery. Leman only ships and delivers goods upon confirmation of payment of 100% of the product value.
			</p>
			<br />
			<p>
				◊ We encourage customers to receive goods directly at the store to have the best inspection conditions and make corrections quickly when necessary.
			</p>
			<h3>CHECKING POLICY</h3>
			<p>When receiving the goods, we encourage customers to carefully check and confirm the following factors:</p>
			<br/>
			<br/>
			<p>1. Gemstone check</p>
			<p>Check weight and visual</p>
			<p>◊ Check ID of jewelry on receipt with edge code </p>
			<br />
			<br />
			<p>2. Jewelry Check</p>
			<p>◊ Check your jewelry size to make sure it fits and is comfortable to wear.</p>
			<p>◊ Visual inspection of external finishing factors (smooth surface, no scratches or manufacturing defects; even and correct color; symmetry, aesthetics of details, engraved text) ).</p>
			<p>
				◊ The shank and base are not broken or deformed under normal hand force testing
			</p>
		</div>
	</div>
</form>