<form method="post">
    <div>
        <div>
            <h2>View Order</h2>
            <hr />
        </div>
        <table class ="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Customer Name</th>
                    <th>Sales Staff Name</th>
                    <th>Production Staff Name</th>
                    <th>Production Request</th>
                    <th>Quotation Request</th>
                    <th>Warranty Card</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>2024</td>
            </tr>
            </tbody>
        </table>
        </div>
        <!-- <div asp-validation-summary="All"></div> -->
        
</form>