<form method="post">
    <div>
        <div>
            <h2>View Jewelry</h2>
            <hr />
        </div>
        <table class ="table table-bordered table-striped fs-6 fw-normal">
            <thead>
                <tr class="fw-normal">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th width="13%">Image</th>
                    <th>Design</th>
                    <th>Status</th>
                    <th>Customer</th>
                    <th>Staffs</th>
                    <th>Production Request</th>
                    <th>Quotation Request</th>
                    <th>Warranty Card</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>2024</td>
            </tr>
            </tbody>
        </table>
        </div>
        <!-- <div asp-validation-summary="All"></div> -->
        
</form>