@model QuotationVM


<form method="post">

	<div>
		<h2 class="text-center">Create Quotation Request</h2>
		<hr>

	</div>
	<!-- <div asp-validation-summary="All"></div> -->
	<div>


		        <select onchange="autofill()" asp-for="Jewelry.Id">
		<option value="" disabled selected >Select a jewelry</option>
		@*@foreach (var obj in Jewelry)
		{
				<option>@obj.Id</option>
		}
		*@
		</select> 
	</div>
	<br />
	<table class="table table-bordered table-info">
		<thead class="table-primary">
			<tr>
				<th class="text-center">Item Description</th>
				<th class="text-center">Weight</th>
				<th class="text-center">
					Unit price

				</th>
				<th class="text-center">Total</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>
					<label Name asp-for="Material.Name">Material:</label>
					<select Name="Material" asp-for="Material.Name">
						<option value="" disabled selected>--Select material--</option>
						<option>Gold</option>
						<option>Silver</option>
					</select>

				</th>
				@*Nhập weight *@
				<th>
					<input Name="MaterialPrice" type="number" class="form-control" placeholder="0.00" asp-for="MaterialSetMaterial.Weight" />
					<div class="text-end">unit:gram</div>
				</th>
				<th>
					<input Name="MaterialPrice" type="number" class="form-control" placeholder="0 VND" asp-for="Material.Price" />
				</th>
				<th>
					<input Name="MaterialPrice" type="number" class="form-control" placeholder="0 VND" asp-for="MaterialSet.TotalPrice" />
				</th>
			</tr>
			<tr>
				<th>
					<label Name asp-for="Gemstone.Name">Gemstone:</label>
					<select asp-for="Gemstone.Name">
						<option value="" disabled selected>Select Gemstone</option>
						<option>Diamond</option>
						<option>Ruby</option>
					</select>
				</th>
				<th>
					<input type="number" class="form-control" placeholder="0.00" asp-for="Gemstone.Weight"/>
					<div class="text-end">unit: carat</div>
				</th>
				<th>
					<input Name="MaterialPrice" type="number" class="form-control" placeholder="0 VND" asp-for="Gemstone.Price" />
				</th>
				<th>
					<input Name="MaterialPrice" type="number" class="form-control" placeholder="0 VND" asp-for="MaterialSet.TotalPrice"/>
				</th>
			</tr>
			<tr>
				<th>
					<label asp-for="QuotationRequest.LaborPrice">Labor</label>
				</th>
				<th>
					<!--<input Name="MaterialPrice" type="number" class="form-control" />-->
				</th>
				<th>
					<!--<input Name="MaterialPrice" type="number" class="form-control" />-->
				</th>
				<th>
					<input type="number" class="form-control" placeholder="0 VND" asp-for="QuotationRequest.LaborPrice" />
				</th>
			</tr>
			<tr>
				<th>
					<label Name>Others</label>
				</th>
				<th>
					<input Name="MaterialPrice" type="number" class="form-control" placeholder="0.00" />
					<div class="text-end">unit:gram</div>
				</th>
				<th>
					<input Name="MaterialPrice" type="number" class="form-control" placeholder="0 VND" />
				</th>
				<th>
					<input Name="MaterialPrice" type="number" class="form-control" placeholder="0 VND" />
				</th>
			</tr>
		</tbody>
	</table>
	<div class="container text-end">
		<div class="row">

			<table class="table table-borderless ">
				<tbody>
					<tr>
						<th>Subtotal: </th>
						<th><input Name type="number" class="form-control" placeholder="0 VND" /></th>
					</tr>
					<tr>
						<th>Discount: </th>
						<th><input Name type="number" class="form-control" placeholder="0 VND" /></th>
					</tr>
					<tr>
						<th>Subtotal less Discount: </th>
						<th><input Name type="number" class="form-control" placeholder="0 VND" /></th>
					</tr>
					@*<tr>
					<th>Tax:</th>
					<th><input Name type="number" class="form-control" placeholder="0 VND" /></th>
					</tr>*@
					<tr>
						<th asp-for="QuotationRequest.TotalPrice">Total:</th>

						<th><input asp-for="QuotationRequest.TotalPrice" class="form-control" placeholder="0 VND" /></th>

					</tr>
				</tbody>
			</table>

		</div>
	</div>


	<div class="row">
		<div class="col-6 col-md-3">
			<button type="submit" class="btn btn-primary form-control">Create</button>
		</div>
		<div class="col-6 col-md-3">
			<a asp-controller="ProductionRequest" asp-action="Index" class="btn btn-outline-primary form-control">
				Back
			</a>
		</div>
	</div>
</form>