@model MaterialSetVM
<style>

</style>
<form method="post" class="container">
	<div class="caption-top row">
		<h2>PAYMENT AND DELIVERY</h2>
	</div>
	<div class="form-group">
		<div class="row">
			<label asp-for="M.Quantity">Quantity</label>
			<input asp-for="ProductionRequest.Quantity" type="text" class="form-control" />
		</div>
		
	</div>

</form>
