<style>
	.total-text {
		border-color: darkgoldenrod !important;
		width: fit-content;
		font-weight: normal;
	}
</style>

<div id="materialDiv" class="my-2">

	<div id="material-card-group" class="card-group d-flex justify-content-between" style="min-height:600px;">
		<div class=" card shadow border-0 m-1" style="flex: 0 0 55%;">

			<div class="card-header bg-primary" style="background-color: #445B8D;">
				<div class="row">
					<div class="col-12 text-center">
						<h4 class=" fw-normal text-white m-0">Current Materials</h4>
					</div>
				</div>
			</div>
			<div class="card-body d-flex flex-column justify-content-between">
				<table id="currentMaterialTable" class="">
					<thead>
						<tr>
							<td>Name</td>
							<td>Unit Price ($)</td>
							<td>Weight (g)</td>
							<td>Total Price ($)</td>
							@* Remember to reserve a column for actions *@
							<td></td>
						</tr>
					</thead>
				</table>
				<div class="border border-1 p-1 px-2 text-start text-primary fs-5 mt-4 rounded total-text" style="" id="">Material Total: $<span id="materialTotal">0</span></div>

			</div>

		</div>
		<div class=" card shadow border-0 m-1" style="flex: 0 0 42%;">

			<div class="card-header bg-primary">
				<div class="row">
					<div class="col-12 text-center">
						<h4 class=" fw-normal text-white m-0">Available Materials</h4>
					</div>
				</div>
			</div>
			<div class="card-body">
				<table id="materialTable">
					<thead>
						<tr>
							<td>Name</td>
							<td>Unit Price ($)</td>
							<td></td>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<hr />
<div id="gemstone-card-group" class="card-group my-2" style="min-height:600px;">

	@* <div class="col-6"> *@
	<div class="card shadow border-0 m-2">
		<div class="card-header bg-primary" style="background-color: #445B8D;">
			<div class="row">
				<div class="col-12 text-center">
					<h4 class=" fw-normal text-white m-0">Current Gemstones</h4>
				</div>
			</div>
		</div>

		<div class="card-body d-flex flex-column justify-content-between">
			<table id="currentGemstoneTable">
				<thead>
					<tr>
						<td>Name</td>
						<td>Price ($)</td>
						<td>Weight</td>
						<td>Carat</td>
						<td>Color</td>
						<td>Clarity</td>
						<td>Cut</td>
						<td></td>
					</tr>

				</thead>

			</table>
			<div class="border border-1 p-1 px-2 text-start text-primary fs-5 mt-4 rounded total-text" id="">Gemstone Total: $<span id="gemstoneTotal">0</span></div>

		</div>
	</div>
	@* 	</div>
	<div class="col-6"> *@
	<div class="card shadow border-0 m-2 ">
		<div class="card-header bg-primary" style="background-color: #445B8D;">
			<div class="row">
				<div class="col-12 text-center">
					<h4 class=" fw-normal text-white m-0">Available Gemstones</h4>
				</div>
			</div>
		</div>
		<div>
			<table id="gemstoneTable">
				<thead>
					<tr>
						<td>Name</td>
						<td>Price ($)</td>
						<td>Weight (g)</td>
						<td>Carat</td>
						<td>Color</td>
						<td>Clarity</td>
						<td>Cut</td>
						<td></td>
					</tr>

				</thead>

			</table>
		</div>
	</div>
	@* </div> *@

</div>
<hr />
<div class="d-flex gap-2 flex-column my-3">
	<h3 class=" fw-normal">Material Set Total Price: $<span class="" id="totalPrice"></span></h3>
	<div class="d-flex gap-2">
		<button id="saveButton" class="btn btn-outline-primary btn-lg p-2 py-1 flex-grow-0" style="width: fit-content">Save</button>
		<button id="cancelButton" class="btn btn-outline-secondary btn-lg p-2 py-1 flex-grow-0" style="width: fit-content">Cancel</button>
	</div>
</div>

@section Scripts
{
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script src="~/js/MaterialSet/Upsert.js"></script>
	<script src="~/js/MaterialSet/Material.js"></script>
	<script src="~/js/MaterialSet/Gemstone.js"></script>
}
