@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<h4>
    1. Introduction
</h4>
    

<p>
    Welcome to JPO. Our goal is to provide a seamless and enjoyable experience for our customers, offering high-quality, custom-made jewelry. This policy outlines the terms and conditions of using our website, placing orders, payment methods, delivery, returns, and other related aspects.

</p>

<h4>
    2. Account Registration
</h4>

<h6>
    2.1 Eligibility

</h6>

    <p>
    To use our services, you must be at least 18 years old and capable of entering into legally binding contracts.

    </p>

<h6>
    2.2 Account Information
</h6>

    <p>
    You are responsible for maintaining the confidentiality of your account information and password. Any activity under your account is your responsibility.

    </p>

<h6>
    2.3 Accurate Information

</h6>

    <p>
    You must provide accurate, complete, and up-to-date information during registration and maintain the accuracy of such information.
    </p>

<h4>
    3. Order Process
</h4>

<h6>
    3.1 Customization
</h6>

    <p>
        Customers can customize their jewelry orders according to the options provided on the website. Detailed specifications must be provided to ensure accurate production.
    </p>

<h6>
    3.2 Order Confirmation
</h6>
    
    <p>
    Once an order is placed, you will receive an email confirmation with the order details. Please review and confirm the details to ensure accuracy.
    </p>

<h6>
3.3 Modifications
</h6>
    <p>
    Any changes to the order after confirmation must be requested within 24 hours. We will accommodate changes if production has not yet begun.
    </p>

<h4>
    4. Payment
</h4>

<h6>
    4.1 Payment Methods
</h6>
    <p>
        We accept the following payment methods:
    </p>
    <p>
        Credit/Debit Cards (Visa, MasterCard, American Express)
    </p>
    <p>
        PayPal

    </p>
    <p>
        Bank Transfers
    </p>
<h6>
    4.2 Payment Terms
</h6>
    <p>
    Full payment is required at the time of order placement. Production will commence once payment is confirmed.
    </p>


<h6>
    4.3 Payment Security
</h6>
    <p>
        All payment transactions are securely processed through encrypted connections to ensure your financial information is protected.
    </p>

<h4>
    5. Production and Delivery
</h4>
<h6>
    5.1 Production Time
</h6>
    <p>
    Production times vary based on the complexity of the jewelry piece. Estimated production time will be provided at the time of order confirmation.
    </p>
<h6>
    5.2 Shipping
</h6>
    <p>
            We offer various shipping options. The estimated delivery time will be provided at checkout. Delivery times may vary based on location and shipping method chosen.
    </p>

<h4>
    6. Returns and Refunds
</h4>
<h6>
    6.1 Return Policy
</h6>
    <p>
    Due to the custom nature of our products, returns are only accepted for items that are defective or not as described.
    </p>
<h6>
    6.2 Return Process
</h6>
    <p>
    If you need to return an item, contact our customer service within 7 days of receiving your order. We will provide instructions for the return process.
    </p>
<h6>
    6.3 Refunds
</h6>
    <p>
        Refunds for returned items will be processed within 14 business days of receiving the return. The refund will be issued to the original payment method.
    </p>
<h4>
    7. Intellectual Property
</h4>
    <p>
    All content, designs, and materials on our website are the intellectual property of JPO. Unauthorized use or reproduction is prohibited.
    </p>
<h4>
    8. Limitation of Liability
</h4>
    <p>
            We are not liable for any indirect, incidental, or consequential damages arising from the use of our website or products. Our total liability is limited to the purchase price of the product.
    </p>
<h4>
    9. Amendments
</h4>
    <p>
    We reserve the right to amend this policy at any time. Changes will be posted on our website, and it is your responsibility to review them periodically.
    </p>
<br />
<p>
    By using our website and placing an order, you agree to abide by this policy. Thank you for choosing JPO.
</p>



