@model Gemstone

<div class="card-block shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Gemstone</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" disabled class="form-control border-0 shadow" />
                    <label asp-for="Name" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Price" disabled class="form-control border-0 shadow" />
                    <label asp-for="Price" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Weight" disabled class="form-control border-0 shadow" />
                    <label asp-for="Weight" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Carat" disabled class="form-control border-0 shadow" />
                    <label asp-for="Carat" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Color" disabled class="form-control border-0 shadow" />
                    <label asp-for="Color" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Clarity" disabled class="form-control border-0 shadow" />
                    <label asp-for="Clarity" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Cut" disabled class="form-control border-0 shadow" />
                    <label asp-for="Cut" class="ms-2"></label>
                </div>

                <div class="form-floating py-2 col-12" style="display:none">
                    <input asp-for="Status" value="Unvailable" class="form-control border-0 shadow" />
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Gemstone" asp-action="Index" class="btn btn-outline-primaty">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>