@model ShoppingCart

<br />
<form method="post">
    <input hidden asp-for="BaseDesignId" />
    <div class="form-group">
        <div class="row d-flex">
            <div class="col-md-6 d-flex justify-content-center">
                <img src="@Model.BaseDesign.Image" height="600px" class="img-fluid" />
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <div class="row">
                    <h3 class="text-center">@Model.BaseDesign.Name</h3>
                </div>
                <div class="row">
                    <p class="text-center">@Model.BaseDesign.Description</p>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-6 d-flex justify-content-center gap-2">
                        <input asp-for="Quantity" class="form-control text-end w-25" />
                        <button type="submit" class="btn btn-primary bg-gradient p-1 px-2">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
