@{
    ViewData["Title"] = "Home Page";
}
<style>
    .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

        .button-container .button {
            width: 150px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #D9D9D9;
            color: black;
            border: none;
            font-size: 24px;
            cursor: pointer;
        }

            .button-container .button:hover {
                background-color: grey;
            }
</style>

<body>
    <div class="menu-icon-2" id="menu-icon-2">
        <img src="~/Images/Inverted Menu Icon.png" alt="Blue Menu Icon"/>
    </div>

    <div class="menu-header" id="menu-header">Menu</div>
    <div class="menu" id="menu">
        <div>
            <a asp-controller="ProductionRequest" asp-action="Checkout" class="button">Create Request</a>
        </div>
        <div>
            <a asp-controller="ProductionRequest" asp-action="Index" class="button">View Requests</a>
        </div>
        <div>
            <a asp-controller="WarrantyCard" asp-action="Create" class="button">Create Warranty Card</a>
        </div>
        <div>
            <a asp-controller="QuotationRequest" asp-action="Index" class="button">View Quotation</a>
        </div>
        <div>
            <a asp-controller="Jewelry" asp-action="Index" class="button">View Jewelry</a>
        </div>
        <div>
            <a asp-controller="Jewelry" asp-action="Create" class="button">Create Jewelry</a>
        </div>
    </div>

    <div class="overlay" id="overlay"></div>

    <div class="text-center">
        <h1 class="display-2">JPO</h1>
    </div>
    <div class="text-start">
        <img class="banner" width="100%" src="https://i.imgur.com/WnE3acs.jpeg" />
    </div>
    <br />

    <link rel="stylesheet" href="~/css/site.css"/>
    <script src="~/js/site.js"></script>
</body>
</html>