@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<style>
    .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

        .button-container .button {
            width: 150px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #D9D9D9;
            color: black;
            border: none;
            font-size: 24px;
            cursor: pointer;
        }

            .button-container .button:hover {
                background-color: grey;
            }
</style>

<body>
    

    <div class="text-start">
        <img class="banner" width="100%" src="~/Images/Banner.jpeg" />
    </div>
    @if (User.Identity.IsAuthenticated && User.IsInRole(SD.Role_Customer))
    {
        
        <div class="row mt-8">
            <div class="col-4 mx-auto">
                <a asp-controller="ProductionRequest" asp-action="Checkout" class="btn btn-outline-primary">Order jewelry</a>
            </div>
            <div class="col-4 mx-auto">
                <a asp-controller="ProductionRequest" asp-action="CustomerView" class="btn btn-outline-primary">View Order</a>
            </div>
        </div>
    }
@*     else
    {
        <h2>Log in</h2>
    } *@
    <br />

    <link rel="stylesheet" href="~/css/site.css"/>
    <script src="~/js/site.js"></script>
</body>
</html>