@{
    ViewData["Title"] = "Home Page";
}
<style>
    .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .button-container .button {
            width: 150px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #D9D9D9;
            color: black;
            border: none;
            font-size: 24px;
            cursor: pointer;
    }

    .button-container .button:hover {
                background-color: grey;
    }
</style>

<div class="text-center">
    <h1 class="display-2">JPO</h1>
</div>
<div class="text-start">
    <img class="banner" width="100%" src="https://i.imgur.com/WnE3acs.jpeg" />
</div>
<br />


<div class="text-lg-end">
    <a asp-controller="ProductionRequest" asp-action="Create" class="button">Create Request</a>
    <a asp-controller="ProductionRequest" asp-action="Index" class="button">View Requests</a>
    <a asp-controller="WarrantyCard" asp-action="Create" class="button">Create Warranty Cards</a>
</div>
