@model UserVM

<div class="container">
    <form asp-action="Edit" method="post">
        <div class="d-flex gap-2 flex-column">
            <div>
                <h2>Edit Account</h2>
                <hr />
            </div>
            <div>
                <input asp-for="Id" type="hidden" class="form-control" />
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Name" type="text" class="form-control" />
                <label asp-for="Name">Name:</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Email" type="text" class="form-control" />
                <label asp-for="Email">Email:</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="PhoneNumber" type="text" class="form-control" />
                <label asp-for="PhoneNumber">PhoneNumber:</label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="StreetAddress" type="text" class="form-control" />
                <label asp-for="StreetAddress">Street Address:</label>
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="UserName" type="text" class="form-control" readonly />
                <label asp-for="UserName">Username:</label>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="LockoutEnd" hidden type="text" class="form-control" readonly />
                <label asp-for="LockoutEnd" hidden>Lockout End:</label>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Role" type="text" class="form-control" readonly />
                <label asp-for="Role">Role:</label>
            </div>
            <br />
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Save</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="User" asp-action="Index" class="btn btn-outline-primary form-control">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}