
@{
    ViewData["Title"] = "DashBoard";
}
@model List<QuotationRequest>

<link rel="stylesheet" href="~/css/Dashboard.css" />

<h1>Index</h1>
<body>
    <div class="dashboard-container">
        <div class="dashboard-box">
            <h2>Revenue</h2>
        </div>

        <div class="dashboard-box">
            <h2>Total Jewelry Sold</h2>
        </div>

        <div class="dashboard-box">
            <h2>Total Customers</h2>
        </div>
    </div>
</body>
