@using Microsoft.AspNetCore.Identity
@using JewelryProductionOrder.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="https://imgur.com/B8XWJwc.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JewelryProductionOrder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JewelryProductionOrder.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @if (SignInManager.IsSignedIn(User) && !User.IsInRole(SD.Role_Customer))
                {
                    <div class="menu-icon" id="menu-icon">
                        <img src="~/Images/Menu icon.png" alt="Menu Icon" />
                    </div>
                }
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/New JPO Logo.png" height="50px" width="50px" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User) && !User.IsInRole(SD.Role_Customer))
                        {

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                        </li>
                        }
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole(SD.Role_Customer))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="ProductionRequest" asp-action="Checkout" class="btn btn-outline-primary">Order jewelry</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="ProductionRequest" asp-action="CustomerView" class="btn btn-outline-primary">View Order</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Posts" asp-action="Index" class="btn btn-outline-primary">View Post</a>
                            </li>
                        }
                    </ul>
@*                     <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search" wfd-id="id0">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                    </form> *@
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    @if (User.Identity.IsAuthenticated && !User.IsInRole(SD.Role_Customer))
    {
        <div class="menu-icon-2" id="menu-icon-2">
            <img src="~/Images/Inverted Menu Icon.png" alt="Blue Menu Icon" />
        </div>

        <div class="menu-header" id="menu-header">Menu</div>

        <div class="menu" id="menu">
            <div>
                <a asp-controller="ProductionRequest" asp-action="Checkout" class="button">Create Request</a>
            </div>
            <div>
                <a asp-controller="ProductionRequest" asp-action="Index" class="button">View Requests</a>
            </div>
            <div>
                <a asp-controller="WarrantyCard" asp-action="Create" class="button">Create Warranty Card</a>
            </div>
            <div>
                <a asp-controller="QuotationRequest" asp-action="Index" class="button">View Quotation</a>
            </div>
            <div>
                <a asp-controller="Jewelry" asp-action="Index" class="button">View Jewelry</a>
            </div>
            <div>
                <a asp-controller="Jewelry" asp-action="Create" class="button">Create Jewelry</a>
            </div>
            <div>
                <a asp-controller="ProductionRequest" asp-action="Index" class="button">Production Request</a>
            </div>
            @if (User.IsInRole(SD.Role_Sales))
            {
                <div>
                    <a asp-controller="Posts" asp-action="Create" class="button">Create Post</a>
                </div>
            }
            
            <div>
                <a asp-controller="Posts" asp-action="Index" class="button">View Post</a>
            </div>
        </div>
    }

    <div class="overlay" id="overlay"></div>
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - JewelryProductionOrder - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
