.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: start;
}

.dashboard-box {
    padding: 20px;
    border: 2px solid #c7f1ec;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-box2 {
    
}

/*#total-jewelry-sold {
    grid-column: 1;
    grid-row: 1;
}

#total-customers {
    grid-column: 1;
    grid-row: 2;
}
*/

#Jewelry-and-customer {
    grid-column:1;
    grid-row:1;
}
    #Jewelry-and-customer p {
        font-weight:bold;
    }

#revenue-chart {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.dashboard-box h2 {
    margin-top: 0;
}

#highlighted-revenue {
    position: relative;
    padding-left: 20px;
}

    #highlighted-revenue::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 100%;
        background-color: cornflowerblue;
    }

.dollar-sign {
    font-size: 18px;
    font-weight: normal;
}

.total-price {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}

#revenue {
    display: inline-flex;
}
