html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container{
    background-color:transparent;
    color:navy;
}

.invisible {
    opacity: 0;
    transform: translateY(-100%);
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3e3f3a;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

    .button-container .button {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D9D9D9;
        color: black;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

        .button-container .button:hover {
            background-color: grey;
        }

.menu-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}

    .menu-icon img {
        width: 100%;
        height: auto;
        max-width: 50px;
    }
        .menu-icon img:hover {
            text-shadow: 0 0 25px white;
            color: black !important;
        }

.menu-icon-2 {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 4;
}
    .menu-icon-2 img{
        width: 100%;
        height: auto;
        max-width: 60px;
    }

.container-fluid {
    display: flex;
    align-items: center;
}

.menu {
    width: 300px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    background-image: linear-gradient(120deg, rgb(0, 0, 0, 0.65), rgb(63, 63, 63, 0.51));
    border: solid;
    border-width: 5px;
    border-block-color: white;
    color: white;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    transition: left 0.3s ease;
    z-index: 3;
    padding-top: 60px;
}

    .menu a {
        margin-top:10px;
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px 20px;

        transition: all 0.3s /*transform 0.3s, background-color 0.3s, color 0.3s*/;
    }

        .menu a:hover {
            background-color: rgb(255, 255, 255);
            font-size: 20px;
            color: black;
        }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: brightness(-10);
    display: none;
}

    .overlay.active {
        display: block;
    }

.menu-header {
    display: none;
    position: fixed;
    top: 0px;
    left: 80px;
    color: white;
    font-size: 60px;
    z-index: 1002;
    font-family: 'Causten Round', sans-serif;
}

.menu-open .menu-header {
    display: block;
}

.menu-open .menu-icon {
    top: 10px;
    left: 10px;
}