@model JewelryDesign
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="d-flex gap-2 flex-column">
            <div>
                <h2>Create a design for Jewelry @Model.Jewelry.Name</h2>
                <hr />
            </div>
            <!-- <div asp-validation-summary="All"></div> -->
            <input asp-for="JewelryId" type="hidden" class="form-control" />
            <div>
                <label asp-for="Name">Design name:</label>
                <input asp-for="Name" type="text" class="form-control" />
            </div>
@*             <div class="form-floating col-12">
                <input type="file" name="files" class="form-control border-0 shadow" />
                <label class="ms-2">Image</label>
            </div> *@
            <div class="form-floating col-12">
                <input type="file" name="file" class="form-control border-0 shadow" />
                <label class="ms-2">Design File</label>
            </div>
            <br />
            <div class="row">
                <div class="col-4 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                </div>
@*                 <div class="col-4 col-md-3">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary form-control">
                        Back to Home
                    </a>
                </div> *@
            </div>
    </form>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}