@model OrderVM
<style>

</style>
<form method="post" class="container">
	<div class="caption-top row">
		<h2>PAYMENT AND DELIVERY</h2>
	</div>
	<div class="form-group">
		<div class="row">
			<label asp-for="ProductionRequest.Quantity">Quantity</label>
			<input asp-for="ProductionRequest.Quantity" type="text" class="form-control" />
		</div>
		<div class="row">

			<div class="first-col">
				<label asp-for="Customer.Name">Name</label>
				<input asp-for="Customer.Name" type="text" class="form-control" />
			</div>
			<br />
			<div class="first-col">
				<label Name>Email</label>
				<input type="text" class="form-control" />
			</div>
		</div>

		<div class="accordion-header">
			<label PhoneNumber>Phone Number</label>
			<input PhoneNumber type="text" class="form-control" />
		</div>
		<br />
		<div>
			<label Location>Location</label>
			<input Location type="text" class="form-control" />
		</div>
		<br />
		<br />

		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-primary form-control">Place order</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="ProductionRequest" asp-action="Create" class="btn btn-outline-primary form-control">
					Back to Request
				</a>
			</div>
		</div>
	</div>

</form>
