
<div class="container">
	<div>
		<h2>Create New Production Request</h2>
		<hr />
	</div>
	<!-- <div asp-validation-summary="All"></div> -->

	<br />
	<br />
	<form method="post" class="col-md-10">
		<div>
			<label class="col-form-label-lg" Name>Type in quantity:</label>
			<input class="col-md-1" Name type="number" class="form-control" />
		</div>

		<br />

		<h5>Price for Request: 10.000 VND</h5>



		<br />
		<div class="row">

			<br />
			<div class="row">
				<div class="col-6 col-md-3">
					<!-- <button type="submit" class="btn btn-primary form-control">Create</button> -->
					<a asp-controller="ProductionRequest" asp-action="CustomerInfo" class="btn btn-outline-primary form-control">
						Create
					</a>
				</div>
				<div class="col-6 col-md-3">
					<a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary form-control">
						Back to Menu
					</a>
				</div>
			</div>
		</div>
	</form>


	<br />
	<hr />
	<br />
	<br />
	<br />
	<br />

	<div class="col-md-9 justify-content-center">
		<p>
			JPO will process jewelry upon request to help turn the jewelry you imagine into reality such as rings, bracelets, pendants, necklaces, etc. The products are designed specifically for you. Mass production on the market is not possible. Vietnamese Jewelry. With a team of skilled technical artisans with many years of experience, we will bring you a product that is both beautiful and of good quality
		</p>

		<h3>1. Process of ordering jewelry on request</h3>

		<p>
			JPO will review the sample and send you a quote. Product price depends on the design and type of stone you want to make. The time of quotation will be based on the current price of gold and silver.
		</p>
		<p>
			_After agreeing on the product model and price. Customers transfer money or come to the store to deposit 50% of the product value.

		</p>
		<p>
			_Proceed to 3D draw your jewelry model and show it to you. Next, JPO will proceed to make the jewelry.
		</p>
		<p>
			_All stages of making custom jewelry take about 3 to 7 days.
		</p>
		<p>
			_Depending on your request, JPO will secure the sample that you think or design yourself.
		</p>
		<p>
			_All jewelry models at JPO designed by JPO or purchased by you at JPO have a 3-year warranty. Refresh and polish products for free.
		</p>

		<br />

		<h3>2. Steps to process jewelry as required</h3>
		<h4>Step 1: Sample design consultation</h4>

		<p>
			The JPO team will receive your design and then measure it by hand. Then JPO will advise you on the estimated cost for each different material such as: Gold, Silver, Platinum, ...
		</p>

		<h4>Step 2: Sketch the pattern</h4>

		<p>
			JPO will sketch out the idea that jewelry is designed specifically for you by a team of skilled craftsmen.
		</p>

		<h4>Step 3: View your sample</h4>

		<p>
			After completing the sketch, JPO will export a high-resolution 3D file with every angle and will adjust it to your liking if you are not satisfied. We only complete until you feel the file is perfect..
		</p>

		<h4>Step 4: Completion and handover</h4>

		<p>
			JPO will proceed to work on 3D files from the stage of pouring jewelry to polishing... You receive your custom jewelry, with the assurance from JPO that it is made to last.
		</p>
		<br />

		<h3>3. Benefits when ordering custom jewelry processing at JPO</h3>

		<p>
			When you order custom jewelry, JPO's team of design consultants will help you figure out the details, consider all the options, and guide you step by step to create a custom jewelry piece. The most beautiful and unique.
		</p>

		<h5>– Highly personalized design</h5>

		<p>
			JPO's team of artists designs works just for you and JPO will edit the details until they are perfect to your liking. If during the drawing process you think of more ideas for a jewelry product, JPO will make revisions at no charge. In this, JPO just wants its customers to have the most beautiful jewelry
		</p>

		<h5>– Team with high expertise</h5>

		<p>
			With a skilled team with many years of experience from experts such as design consultants, gemstone experts, and experienced jewelers of VNJ, your custom jewelry project is handled with precision, Maximum care and knowledge.
		</p>
		<br />

		<h3>4. After-sales policy after jewelry processing</h3>

		<p>
			When ordering custom jewelry processing at JPO, you will receive a warranty of up to 3 years.
		</p>
		<p>
			Recently completed custom jewelry projects. Let's take a look at some of VNJ's most recently completed designs.
		</p>
		<p>Hotline: 0987654321</p>
	</div>

</div>

