<form method="post">
    <div>
        <div>
            <h2>View Order</h2>
            <hr />
        </div>
        <table class ="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>2024</td>
            </tr>
            </tbody>
        </table>
        <div>
            <a asp-controller="Quotation" asp-action="Create" class="button">Create Quotation</a>
        </div>
        </div>
        <!-- <div asp-validation-summary="All"></div> -->
        
</form>