@model BaseDesign

<h1>Edit Base Design</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit" enctype="multipart/form-data" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<input type="hidden" asp-for="Type" />
			<input type="hidden" asp-for="CreatedAt" />

			<div class="form-floating py-2">
				<input asp-for="Name" type="text" class="form-control border-0 shadow" />
				<label asp-for="Name" class="ms-2">Design name:</label>
				<span asp-validation-for="@Model.Name" class="text-danger"></span>
			</div>
			<div class="form-floating py-2">
				<input asp-for="Description" type="text" class="form-control border-0 shadow" />
				<label asp-for="Description" class="ms-2">Description:</label>
			</div>
			<div class="form-floating py-2">
				<input type="file" name="file" class="form-control border-0 shadow" />
				<label class="ms-2">Image</label>
				<span asp-validation-for="@Model.Image" class="text-danger"></span>
			</div>
			<br />

			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
				<a asp-action="Index" class="btn btn-primary">Back to List</a>
			</div>
		</form>
	</div>
</div>

