@model Material

@{
	ViewData["Title"] = "Edit Material";
}

<h1>Edit Material</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />

			<div class="form-group">
				<input asp-for="Type" class="form-control border-0 shadow" />
				<label asp-for="Type" class="ms-2"></label>
				<span asp-validation-for="Type" class="text-danger"></span>
			</div>
			<div class="form-floating py-2 col-12">
				<input asp-for="Purity" class="form-control border-0 shadow" />
				<label asp-for="Purity" class="ms-2"></label>
				<span asp-validation-for="Purity" class="text-danger"></span>
			</div>
			<div class="form-floating py-2 col-12">
				<input asp-for="Color" class="form-control border-0 shadow" />
				<label asp-for="Color" class="ms-2"></label>
				<span asp-validation-for="Color" class="text-danger"></span>
			</div>
			<div class="form-floating py-2 col-12">
				<input asp-for="Price" class="form-control border-0 shadow" />
				<label asp-for="Price" class="ms-2">Price ($)</label>
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
				<a asp-action="Index" class="btn btn-primary">Back to List</a>
			</div>
		</form>
	</div>
</div>
